
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section ="section-content bg-white padding-y">
    <div class="container">
        <h2>Thanh toán thành công!</h2>
        <div class="form-group col-md md-4">
            <a href="@Url.Action("Index","Home")" id="addtocart" class="btn  btn-primary">
                <i class="fas fa-shopping-cart"></i>
                <span class="text" h>Tiếp tục mua hàng</span>
            </a>
            <div class="pb-3"></div>
            </div>
        </section>
