
@{
    ViewBag.Title = "Infor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section ="section-content bg-white padding-y">
    <div class="container">
        <h2>Giới thiệu</h2>
    </div>
</section>
