
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section ="section-content bg-white padding-y">
    <div class="container">
        <h2>Chính sách giao hàng DVB Store</h2>
        Áp dụng từ ngày: 30/4/2022
        <div>
            <h4>  1. PHẠM VI ÁP DỤNG</h4>
            <p>Xung quang tỉnh thành của cửa hàng DVB Store</p>

            <h4>2. THỜI GIAN NHẬN HÀNG</h4>
            <p>
                DVB Store nhận giao nhanh trong ngày vài ngày với khoảng cách từ cửa hàng đến điểm giao là 20 km.</br>
                Khoảng cách lớn hơn nhân viên của chúng tôi sẽ tư vấn cách thức giao hàng thuận tiện nhất cho khách hàng. </br>
                Cụ thể:
            </p>
            <table border="1" bgcolor="white">
                <tr>
                    <th>Khoảng cách từ cửa hàng đến điểm giao</th>
                    <th>TP.HCM</th>
                </tr>
                <tr>
                    <td>Dưới 5km</th>
                    <td>Giao trong 1 tiếng</th>
                </tr>
                <tr>
                    <td>5-10km</th>
                    <td>Giao trong 1 tiếng 30 phút</th>
                </tr>
                <tr>
                    <td>10-20km</th>
                    <td>Giao trong 2 tiếng</th>
                </tr>
                <tr>
                    <td>Thời gian giao hàng</th>
                    <td>9:00 đến 20:00</th>
                </tr>
            </table>
            <p>Riêng đối với đơn hàng giá rẻ online, sản phẩm sẽ được giao sớm nhất là 1 ngày sau khi đặt.</p>
            <h4>3.  PHÍ GIAO HÀNG</h4>
            <table border="1" bgcolor="white">
                <tr>
                    <th>Loại sản phẩm</th>
                    <th>Mức giá</th>
                    <th>Phí giao</th>
                </tr>
                <tr>
                    <td rowspan="2">Sản phẩm không lắp đặt</th>
                    <td>Giá trên 500.000đ</th>
                    <td>
                        - Miễn phí 10km đầu tiên</br>

                        - Mỗi km tiếp theo tính phí 5.000đ/km</br>

                        VD: Sạc dự phòng giá 600.000đ, khoảng cách giao hàng là 13 km >>> Phí giao hàng là: 15.000đ
                    </th>
                </tr>
                <td>Giá 500.000đ trở xuống</th>
                <td>
                    - Phí giao hàng 20.000đ cho 10km đầu tiên</br>

                    - Mỗi km tiếp theo tính phí 5.000đ/km</br>

                    VD: Sạc dự phòng 500.000đ, khoảng cách giao hàng là 13 km >>> Phí giao hàng là: 20.000đ + 15.000đ = 35.000đ
                </th>
                <tr>
                    <td rowspan="2">Sản phẩm lắp đặt</th>
                    <td>Giá trên 5 triệu</th>
                    <td>
                        - Miễn phí 10km đầu tiên</br>

                        - Mỗi km tiếp theo tính phí 5.000đ/km</br>

                        VD:  Loa kéo giá 6 triệu, khoảng cách giao hàng là 13 km >>> Phí giao hàng là: 15.000đ
                    </th>
                </tr>
                <tr>
                    <td>Giá 5 triệu trở xuống</th>
                    <td>
                        - Phí giao hàng 50.000đ cho 10km đầu tiên</br>

                        - Mỗi km tiếp theo tính phí 5.000đ/km</br>

                        VD: Loa kéo giá 5 triệu, khoảng cách giao hàng là 13 km >>> Phí giao hàng là: 50.000đ + 15.000đ = 65.000đ
                    </th>
                </tr>
            </table>
            <h6>Lưu ý:</h6>
            <p>
                + Khoảng cách giao hàng là khoảng cách được tính từ nhà khách hàng đến cửa hàng DVB Store</br>
                + Hàng online có chuyển hàng qua đối tác thì tổng đài 1800 1008 sẽ tư vấn cách thức giao hàng & phí chuyển hàng phù hợp.
            </p>
            <h4>4. ĐEM THÊM NHIỀU SẢN PHẨM, MẪU MÃ KHÁC ĐỂ KHÁCH HÀNG LỰA TẠI NHÀ</h4>
            <p>
                Nếu có sự băn khoăn trong việc lựa chọn sản phẩm, hãy để nhân viên giao hàng của chúng tôi sẽ đem hơn 2 sản phẩm (đem thêm mẫu máy khác, đem thêm màu khác) theo yêu cầu của bạn đến tận nơi tư vấn.</br>

                - Kỹ thuật viên của chúng tôi sẽ giúp Quý khách khám phá kỹ hơn những tính năng ưu việt của từng sản phầm để Quý khách có được lựa chọn tốt nhất.</br>
                - Quý khách chỉ thanh toán khi thật sự hài lòng với sản phẩm và chất lượng dịch vụ của chúng tôi. Chúng tôi sẽ không tính bất kỳ khoản phí nào cho đến khi Quý khách hoàn toàn đồng ý.</br>
                - Khi Quý khách hoàn toàn hài lòng với sự lựa chọn của mình, Quý khách có thể thanh toán ngay bằng các thẻ quốc tế, nội địa mà không cần phải ra ngân hàng rút tiền mặt trước.</br>
                - Hãy gọi cho chúng tôi bất cứ lúc nào Quý khách cần được phục vụ với chất lượng 5 sao hoàn hảo.</br>
                Cập nhật lần cuối: 30/4/2022
            </p>
        </div>
    </div> <!-- container .//  -->
</section>